---
import '../styles/global.css'
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).slice(-3);
---

<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col min-h-screen">
		<Header title={SITE_TITLE} />
		<main>
			<header class="my-4 grid grid-cols-2 lg:px-10">
				<section class="flex flex-col justify-center text-right">
					<h1 class="font-bold text-5xl">مدونة حمد</h1>
					<p class="text-lg">مساحة شخصية، لمحتوى تقني عربي مكتوب.</p>
				</section>
				<section class="flex justify-start w-full text-right">
					<lottie-player class="-z-[9999] h-[120px]" 
					src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f331/lottie.json"  
					background="transparent" speed="0.75" loop autoplay></lottie-player>
				</section>
			</header>

			<section class="mt-8">
				<h2 class="font-bold text-3xl">آخر التدوينات:</h2>
				<ol class="text-2xl">
					{
						posts.map((post) => (
							<li>
								<FormattedDate date={post.data.pubDate} />
								<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
							</li>
						)).reverse()
					}
				</ol>
			</section>
		</main>
		<Footer />
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
	</body>
</html>
